


<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-4 text-center border-right m-0">
        
        <img src="assets/produit.png" width="150px" height="150px" >
       
    </div>

    <div class="col-md-4 border-right m-0">
        <div class="col">
            <div class="row">
               
                <div> <i class="fa-solid fa-circle-info blue-color"></i> Code article</div>
            </div>
            <div class="row">
           
                <div> <i class="fa-solid fa-circle-info blue-color"></i> désignation</div>
            </div>
            <div class="row">
                
                <div> <i class="fa-solid fa-dollar-sign blue-color"></i>  prix HT</div>
            </div>
            <div class="row">
                
                <div> <i class="fa-solid fa-dollar-sign blue-color"></i>  prix TTC</div>
            </div>
        </div>
    </div>


    <div class="col-md-4 m-0 border-right">
        <div class="row">
            <div class="col-md-2">
                <i class="fa-solid fa-flag-checkered blue-color"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    
                    <div class="col-md-12">Code categorie</div>
                    <div class="col-md-12">déscription categorie</div>
                </div>

            </div>
        </div>
    </div>

</div>


