
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            
<div class="background">
    <span class="shodow">
    <div class="head">
      <div class="navbar">
        <div class="logo">
          <img src=".\assets\logo.png" alt="Logo du site">
          <h1>Nom du site</h1>
        </div>
        <div class="links">
          <a href="#">Home</a>
          <a href="#">Collections</a>
          <a href="#">Stores</a>
          <a href="#">Details</a>
        </div>
        <div class="auth-links">
          <a routerLink="/insc">Sign Up</a>
          <a routerLink="/login">Log In</a>
        </div>
      </div>
      <div class="container">

        <div class="row height d-flex justify-content-center align-items-center">
           
          <div class="col-md-8" >
<h1 >Bienvenue sur notre portail de vente en ligne  </h1>
<h4>Découvrez une sélection de produits de qualité et trouvez ce dont vous avez besoin en quelques clics !</h4>
            <div class="search" >
              <i class="fa fa-search" ></i>
              <input type="text" class="form-control" placeholder="cherchez un produit, une catégorie ou une marque" style="left: 25px;">
              <button class="btn btn-primary">Rechercher</button>
             
          </div>
          <div ngbDropdown class="dropdown">
            <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false"  style="position: relative; left:-130px;top:-50px; width:25%;">
              Boutiques
              </button>
                <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1" >
                  <li *ngFor="let boutique of vendeurs">
                    <a ngbDropdownItem >{{boutique.nom}}</a>
                  </li>
                  
                </ul>
          </div>
          </div>
          
        </div>
    </div>
    </div>
  </span>
   

    <main class="main">
       <div class="section" >
        <div class=  "images"      >

            <img class="imgzen" src=".\assets\zen.png" alt="Image 1" style="margin-right: 60px; " >
            <img class="imgzara" src=".\assets\zara.png" alt="Image 2" style="margin-right: 60px;">
            <img class="img"src=".\assets\mx.png" alt="Image 3" style="margin-right: 60px;">
            <img class="imgha"src=".\assets\ha.png" alt="Image 4" style="margin-right: 60px;">
            <img class="imgfat" src=".\assets\fatales.png" alt="Image 5"> </div>
            <p  class="cache">Plus de 50 boutiques nous font confiance</p>
           
              
            </div>
            
            
             <div class="line"></div>
            <div class="body">
              <div class="build">
                
              <div  class="card" style="max-width: 40rem;  height: 150px; ">
                <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded"style="background-color: white;">

                <div class="card-body" >
                  <h1 class="h1home" >Une plateforme de vente en ligne complète et flexible</h1>
                  Créez votre espace de vente en ligne, enregistrez vos produits sur le site, gérez les clients et les commandes 
                  et présentez vos produits aux clients comme s'ils étaient sur votre propre site.<br><br>

                  <a href="#" class="btn btn-primary" style="height: 3rem;">Créer un nouveau magasin</a>
                </div>
               
              </div>
                <div class="card-container">
              <div class="card" style=" width: 200px;
              height: 300px;
              position: relative;
              perspective: 1000px;">
                  <img src=".\assets\template1.png">
                  <img src=".\assets\template1.png">
                  
                </div>
            </div> 
            </div>
            </div>
            <div id="carouselExampleIndicators" class="carousel carousel-dark slide" style="position: relative; top:400px ;">
    <div class="carousel-indicators" style="position:relative; top:550px ;" >
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1" style="background-color:rgba(0, 102, 255, 0.437);"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2" style="background-color:rgb(0, 102, 255, 0.437);"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3" style="background-color:rgb(0, 102, 255, 0.437);"></button>
    </div>
    <div style="display: flex;
    justify-content: center;
  position: relative; "><h2 >Nos produits les plus populaires</h2> </div>
    <div class="carousel-inner" >
      <div class="carousel-item active">
        <div class="container text-center" >
          <div class="row">
        <div class="col-sm-4 my-2">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
        <div class="col-sm-4 my-2">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div></div>
        <div class="col-sm-4 my-2">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div></div></div></div>
      </div>
      <div class="carousel-item">
        <div class="container text-center" >
          <div class="row">
        <div class="col-sm-4 my-2">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
        <div class="col-sm-4 my-2">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div></div>
        <div class="col-sm-4 my-2">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div></div></div></div>
      </div>
      <div class="carousel-item">
        <div class="container text-center" >
          <div class="row">
        <div class="col-sm-4 my-2">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        </div>
        <div class="col-sm-4 my-2">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div></div>
        <div class="col-sm-4 my-2">
        <div class="card" style="width: 18rem;">
          <img src="./assets/img1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div></div></div></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
      <span class="visually-hidden"   >Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true" ></span>
      <span class="visually-hidden"  >Next</span>
    </button>
  </div>
   </div>
  
  
  
  
    </main>

    <footer style="height: 500px;">
      <!-- Pied de page de la page -->
  
    </footer>
 </div>
 
       