

  
  
 <section class="section-content padding-y">
  <div class="container">
  
  <div class="row">
      <aside class="col-md-3">
          
  <div class="card">
      <article class="filter-group">
          <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Boutiques</h6>
              </a>
          </header>
          <div class="filter-content collapse show" id="collapse_1" >
              <div class="card-body">
                  <form class="pb-3">
                    
                  </form>
                  
                  <ul class="item-show-1"  >

                    <div *ngFor="let v of vendeurs">
                      <label>
                        <input type="checkbox"  [value]="v.id" [ngModel]="selectedBoutiqueId === v.id" (change)="selectBoutique($event)">
                        
                        <a [attr.href]="'templateclient/' + v.idTemplate+'/'+v.id" >{{ v.nom }}</a>
                      </label>
                    </div>
                    </ul>
  
              </div> <!-- card-body.// -->
          </div>
      </article> <!-- filter-group  .// -->
      
      
       
  </div> <!-- card.// -->
  
      </aside> <!-- col.// -->
      
      <main class="col-md-9">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Recherche</span>
          </div>
          <input type="text"  [(ngModel)]="texte" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
    <div class="row ">
        <div class="col-sm-4 my-2"  *ngFor="let p of produitF">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://localhost:8080/apiproduit/getimage/{{p.id}}" width="50" height= "170" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{p.nom}}</h5>
                  <h6 style="color:red">
    
                    {{p.prix}} DT
                  </h6>
                  <h6 style="color: green" *ngIf="p.quantite>0; else repture">
                    En Stock
                  </h6>
                  <p><button class="btn btn-danger m-2" (click)="navigation(p.vendeur.id)">
                    <span class="fa fa-trash"></span>
                  </button>
                  <!--  routerLink="/products/{{p.id}}"  -->
                    <a routerLink="/products/{{p.id}}" class ="btn btn-primary m-2">
                    <span class="fa fa-info"></span>
                  </a>
                  
                  <a class ="btn btn-primary m-2" (click)="addProductsToCompare(p.id)" >
                    <span class="fa-solid fa-columns"></span>
                  </a>
                </p>
                </div>
                
                
              </div>
              
    <ng-template #repture><h6 style="color: brown"> Rupture de Stock</h6>
    </ng-template>
        </div>
       
  
    

             
            
                 
  
    


  
   



