<div class="px-0 bg-light">
  <div class="d-md-flex" > 
  <div class="d-flex flex-column vh-00 flex-shrink-0 p-3 text-white bg-dark  " style="width: 250px;"> 
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" > 
    <svg class="bi me-2" width="40" height="32"> </svg> <span class="fs-4">Boutique</span>
   </a> 
   <hr>
     <ul class="nav nav-pills flex-column mb-auto" >
       <li class="nav-item"> <a href="#" class="nav-link active" aria-current="page">
          <i class="fa fa-home"></i>
          <span class="ms-2">Home</span>
         </a> </li>
    <li> <a href="#" class="nav-link text-white">
               <i class="fa fa-dashboard"></i>
               <span class="ms-2">Dashboard</span> </a> </li> 
               <li> <a type="button" class="nav-link text-white dropdown-toggle" data-toggle="collapse" (click)="collapse.toggle()" 
                [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"> <i class="fa fa-first-order"></i>
               <span class="ms-2">Categories</span> </a>
               <div class="icone" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
               <ul class="item-show-1"  >
                
                <li  type="button"  class="nav-link text-white" *ngFor="let cat of categories" [value]="cat.id" >
                  <i type="button" class="fa fa-trash" style="color: red;"  ></i>  {{ cat.nom }}</li>
               <li type="button"  class="nav-link text-white dropdown-toggle"  data-toggle="collapse" (click)="isCollapsed2 = !isCollapsed2"
                [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseExample2">
                 <i  class="Ajout fa fa-plus-square "></i>
                 <span class=" ms-2">Ajouter</span> 
               </li>
                 <div id="collapseExample2" [ngbCollapse]="isCollapsed2">
                                    <label for="nom">Nom</label> 
                  <input type="text" id="nom" name="nom" [(ngModel)]="this.nomNewCat"
                   required>
                   <button (click)="isCollapsed2 = !isCollapsed2">Ajouter</button>
</div>
             </ul>
         </div> 
               </li>
                
                <li> <a href="#" class="nav-link text-white">
                    <i class="fa fa-cog"></i><span class="ms-2">Mes commandes</span> </a> </li> <li>
                         <a href="#" class="nav-link text-white"> <i class="fa fa-bookmark"></i>
                         <span class="ms-2">Bookmarks</span> </a> </li> </ul> <hr> 
                                  
</div> <div class="container">
    <div class="row  ">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Key Word</span>
        </div>
        <input type="text"  [(ngModel)]="texte" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>
    
    <div class="row ">
        <div class="col-sm-4 my-2"  *ngFor="let p of produitF">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://localhost:8080/apiproduit/getimage/{{p.id}}" width="50" height= "170" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{p.nom}}</h5>
                  <h6 style="color:red">
    
                    {{p.prix}} DT
                  </h6>
                  <h6 style="color: green" *ngIf="p.quantite>0; else repture">
                    En Stock
                  </h6>
                  <p><button class="btn btn-danger m-2" (click)="navigation(p.vendeur.id)">
                    <span class="fa fa-trash"></span>
                  </button>
                  <!--  routerLink="/products/{{p.id}}"  -->
                    <a routerLink="/products/{{p.id}}" class ="btn btn-primary m-2">
                    <span class="fa fa-info"></span>
                  </a>
                  <button class="btn btn-primary m-2" (click)="openDialogUpdate(p.id)">
                    <span class="fa-solid fa-pen"></span>
                  </button>
                  <a class ="btn btn-primary m-2" (click)="updateProductsCompared(p.id)" >
                    <span class="fa-solid fa-columns"></span>
                  </a>

                </p>
                
                </div>
                
                
              </div>
              
    <ng-template #repture><h6 style="color: brown"> Rupture de Stock</h6>
    </ng-template>
        </div>
       
  
    

             
            
                 
  
    


  
   



