
<div class="container">
    <div class="row  ">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default">Key Word</span>
        </div>
        <input type="text"  [(ngModel)]="texte" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
      </div>
    </div>

    <div class="row ">
        <div class="col-sm-4 my-2"  *ngFor="let p of produitF">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://localhost:8080/apiproduit/getimage/{{p.id}}" width="50" height= "170" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{p.nom}}</h5>
                  <h6 style="color:red">
    
                    {{p.prix}} DT
                  </h6>
                  <h6 style="color: green" *ngIf="p.quantite>0; else repture">
                    En Stock
                  </h6>
                  <p><button class="btn btn-danger m-2" (click)="navigation(p.vendeur.id)">
                    <span class="fa fa-trash"></span>
                  </button>
                  <!--  routerLink="/products/{{p.id}}"  -->
                    <a routerLink="/products/{{p.id}}" class ="btn btn-primary m-2">
                    <span class="fa fa-info"></span>
                  </a>
                  <button class="btn btn-primary m-2" (click)="openDialogUpdate(p.id)">
                    <span class="fa-solid fa-pen"></span>
                  </button>
                  <a class ="btn btn-primary m-2" (click)="updateProductsCompared(p.id)" >
                    <span class="fa-solid fa-columns"></span>
                  </a>
                </p>
                </div>
                
                
              </div>
              
    <ng-template #repture><h6 style="color: brown"> Rupture de Stock</h6>
    </ng-template>
        </div>
       
  
    

             
            
                 
  
    


  
   



