<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign up</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/choose">Choose template</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/liste">liste des produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/template1">template1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/template2home">template2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/insc">inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/formTempl">Formulaire</a>
        </li>
        
      </ul>

    </div>
  </div>
</nav>
<div class="container-fluid mt-2 min-height">


  <router-outlet></router-outlet>
</div>