<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/signup">Sign up</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/choose">Choose template</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/liste">liste des produits</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/template1">template1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/template2">template2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/template3">template3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/home3">home3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/list3">list3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/homeVendeur3">homeVendeur3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/listproduct1client">listeProduitClient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/homeVend">HomeVendeur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/insc">inscrire</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/loginClient">login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/signupVendeur">signupVend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/loginVendeur">LoginVend</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/comparateur">Comparateur</a>
        </li>
      
      
        
      </ul>

    </div>
  </div>
</nav>
<div class="container-fluid min-height">


  <router-outlet></router-outlet>
</div>




    