

<section>
    <h2> Ajouter un produit</h2>
  
     <form #produitForm="ngForm" (submit)="addProduit()">
      <div mat-dialog-content>
        <form-field>
        <label for="nom">Nom</label>
        <input type="text" id="nom" name="nom" placeholder="Nom" matInput  [(ngModel)]="produit.nom" [required]="true">
        
      </form-field>
      
  
      <form-field>

        <label for="prix">Prix</label>
        <input type="number" id="prix" name="prix" placeholder="Prix" matInput [(ngModel)]="produit.prix" [required]="true">
      </form-field>
  
      <form-field>

        <label for="quantite">Quantité</label>
        <input type="number" id="quantite" name="quantite" placeholder="Quantité" matInput [(ngModel)]="produit.quantite" [required]="true">
      </form-field>
  
      
  
      <form-field>
        <label for="categorie">Catégorie</label>
        <select id="categorie" name="categorie"(change)="selectCat($event)" [(ngModel)]="produit.categorie.id" [required]="true" >
          <option *ngFor="let cat of categories" [value]="cat.id" >{{ cat.nom }}</option>
        </select>
      </form-field>
     
  <div>
        <label for="photo">Photo</label>
        <input #myInput  type="file" id="photo" name="photo" (change)="onPhotoSelected($event)" [(ngModel)]="photo" required>
      </div>
      <button mat-raised-button color="primary" type="submit"href="/liste" >Ajouter</button>
      
    </div>
    
    </form> 

  </section>
 