
<div class="topContainer">
    <h1>choose from this 3 template</h1>
    <br><br>
    <div class="row">
        <section class="main">
        <button (click)="firstchoice()">
        <div class="main1">
            <div class="cards">
    
    <div class="card">
      <img width="200px" height="400px" src= "./assets/template11.png">
      <div class="card-header">
        <h4 class="title">First template</h4>
        <h4 class="price">For free</h4>
      </div>
      <div class="card-body">
        <p>crée maintenant </p>
      </div>
    </div></div></div>
    </button>
    
    <button (click)="secondchoice()">
        <div class="main2">
            <div class="cards">
    
    <div class="card">
      <img width="200px" height="400px" src="./assets/template22.png">
      <div class="card-header">
        <h4 class="title">Second template</h4>
        <h4 class="price">For free</h4>
      </div>
      <div class="card-body">
        <p>crée maintenant </p>
      </div>
    </div></div></div> 
    </button>
    <button (click)="thirdchoice()">
        <div class="main3">
            <div class="cards">
    
    <div class="card">
      <img width="200px" height="400px"  src="./assets/template33.png">
      <div class="card-header">
        <h4 class="title">Third template</h4>
        <h4 class="price">For free</h4>
      </div>
      <div class="card-body">
        <p>crée maintenant </p>
      </div>
    </div></div></div> 
    </button>
   </section>
</div></div>
