<div class="topContainer">
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">
<div class="registration">
    
<form autocomplete="off" >
  <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" class="form-control" id="name"  placeholder="Name Store" 
        class="form.control"
        ngModel name="name" 
        [(ngModel)]="registre.name"
        #name="ngModel"
        required
        minlength="5"
        maxlength="20">
        <!-- pattern="admin" -->
        <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
          <div *ngIf="name.errors?.['required']">required</div>
          <div *ngIf="name.errors?.['minlength']">minimum 5 characters</div>
          <div *ngIf="name.errors?.['maxlength']">maximum 20 charaters</div>
          <!-- <div *ngIf="email.errors?.['pattern']">pattern</div> -->
        </div>
      
      <input type="email" class="form-control" id="email" placeholder="Email"  
      class="form.control"
      ngModel name="email" 
      [(ngModel)]="registre.email"
      #email="ngModel"
      required
      minlength="5"
      maxlength="20">
      <!-- pattern="admin" -->
      
      <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
        <div *ngIf="email.errors?.['required']">required</div>
        <div *ngIf="email.errors?.['minlength']">minimum 5 characters</div>
        <div *ngIf="email.errors?.['maxlength']">maximum 20 charaters</div>
        <!-- <div *ngIf="email.errors?.['pattern']">pattern</div> -->
      </div>
      
   
      
      <input type="password" class="form-control" id="password" placeholder="Password" 
      class="form.control"
      ngModel name="password" 
      [(ngModel)]="registre.password"
      #password="ngModel"
      required
      minlength="5"
      maxlength="20">
      <!-- pattern="admin" -->
      
      <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
        <div *ngIf="password.errors?.['required']">required</div>
        <div *ngIf="password.errors?.['minlength']">minimum 5 characters</div>
        <div *ngIf="password.errors?.['maxlength']">maximum 20 charaters</div>
    </div>
   

        <input type="number" class="form-control" id="phone" placeholder="Your Phone number"
        class="form.control"
        ngModel name="phone" 
        [(ngModel)]="registre.phonenumber"
        #phone="ngModel"
        required
        minlength="5"
        maxlength="20">
        <!-- pattern="admin" -->
        
        <div class="alert alert-danger" *ngIf="phone.touched && !phone.valid">
          <div *ngIf="phone.errors?.['required']">required</div>
          <div *ngIf="phone.errors?.['minlength']">minimum 5 characters</div>
          <div *ngIf="phone.errors?.['maxlength']">maximum 20 charaters</div>
        </div>
   <button (click)="onSignup()" >Sign up</button>
    </form> </div>

      <div class="login">
        <form>
          <label for="chk" aria-hidden="true">Login</label>
        <input type="text" class="form-control" id="name"  placeholder="Name Store"
        class="form.control"
        ngModel name="name" 
        [(ngModel)]="registre.name"
        #name="ngModel"
        required
        minlength="5"
        maxlength="20">
        <!-- pattern="admin" -->
        
        <div class="alert alert-danger" *ngIf="name.touched && !name.valid">
          <div *ngIf="name.errors?.['required']">required</div>
          <div *ngIf="name.errors?.['minlength']">minimum 5 characters</div>
          <div *ngIf="name.errors?.['maxlength']">maximum 20 charaters</div>
          <!-- <div *ngIf="email.errors?.['pattern']">pattern</div> -->
        
        
      </div>
     

        <input type="password" class="form-control" id="password" placeholder="Password"
        class="form.control"
        ngModel name="password" 
        [(ngModel)]="registre.password"
        #password="ngModel"
        required
        minlength="5"
        maxlength="20">
        <!-- pattern="admin" -->
        
        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors?.['required']">required</div>
          <div *ngIf="password.errors?.['minlength']">minimum 5 characters</div>
          <div *ngIf="password.errors?.['maxlength']">maximum 20 charaters</div>
      </div>
      
      <button (click)="onLogin()">Login</button>
    </form>
    </div> 
    

    
  </div></div>
